<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="InputLocation" value="Input"/>
    <add key="OutputLocation" value="Output"/>
    <add key="StringList" value="Article.txt"/>
    <add key="WordList" value="Words.txt"/>
    <add key="OutputFileName" value="Output1.txt"/><!-- output to different file so not to replace the original-->
    
  </appSettings>
</configuration>